@inherits LayoutComponentBase

<Header />
<Sidebar />

<main class="flex h-screen flex-col bg-white pt-14 pb-4 transition-all duration-300 md:ps-65 dark:bg-neutral-900 md:hs-overlay-minified:ps-16">
    @Body
</main>
