<div id="hs-sidebar-main-layout" class="hs-overlay fixed inset-y-0 start-0 z-60 hidden w-65 -translate-x-full transform overflow-hidden border-e border-neutral-200 bg-white pt-14 transition-all duration-300 md:end-auto md:bottom-0 md:block md:translate-x-0 dark:border-neutral-700 dark:bg-neutral-900 [--auto-close:md] hs-overlay-minified:w-16 hs-overlay-open:translate-x-0" role="dialog" tabindex="-1" aria-label="Sidebar">
    <div class="relative flex h-full max-h-full flex-col">
        <div class="flex size-full flex-col gap-y-5 overflow-y-auto px-2 py-4 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-neutral-100 [&::-webkit-scrollbar-thumb]:bg-neutral-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
            <Navbar />
        </div>
    </div>
</div>