@namespace Client.Shared
@using System.ComponentModel.DataAnnotations
@inject IApiClient Api

<EditForm Model="@Input" OnValidSubmit="HandleSubmit" class="mt-4 flex space-x-2">
    <DataAnnotationsValidator />
    <InputText @bind-Value="Input.Title" type="text" placeholder="New todo" class="flex-1 rounded-lg border-gray-300 focus:ring focus:ring-indigo-500" />
    <button type="submit"
            class="rounded-lg bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">
        Add
    </button>
</EditForm>

@code 
{
    [Parameter] public string ProjectId { get; set; } = default!;
    [Parameter] public EventCallback OnTodoCreated { get; set; }

    private InputModel Input { get; set; } = new();

    private async Task HandleSubmit()
    {
        await Api.CreateItem(new()
        {
            ProjectId = "",
            Title = Input.Title,
        });

        Input = new();
        await OnTodoCreated.InvokeAsync();
    }

    private sealed class InputModel
    {
        [Required]
        public string Title { get; set; } = "";
    }
}
